<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Acme\Fulfilment\Api\FulfilmentServiceInterface"
                type="Acme\Fulfilment\Model\FulfilmentService"/>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="acmeFulfilmentReplay" xsi:type="object">
                    Acme\Fulfilment\Console\Command\ReplayEvents
                </item>
            </argument>
        </arguments>
    </type>
</config>
