<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="acme_loyalty" translate="label" sortOrder="200"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Acme Loyalty</label>
            <group id="pricing" translate="label" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pricing</label>
                <field id="discount_threshold" translate="label" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Spend discount threshold</label>
                </field>
                <field id="gold_rate" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Gold tier rate</label>
                </field>
            </group>
        </section>
    </system>
</config>
