<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Acme_Loyalty::loyalty" title="Loyalty" sortOrder="50">
                    <resource id="Acme_Loyalty::accounts" title="Accounts" sortOrder="10"/>
                    <resource id="Acme_Loyalty::adjust" title="Adjust points" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
